#which class to load
application.class=com.winningsmiledental.OSXJDentPro
#
#database info
###currently assumes mysql
#this is the host where the database is located
database.host=localhost
#credentials for accessing the database
database.user=apache
database.password=apache
#database names 
#(if multiple offices, delimit with ";", e.g. "office1;office2")
database.names=dental
